@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');


body {
  margin: 0px;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #a1bbd6  ; 
}
.header {
  min-height: 80vh; 
  width: 100%;
  background-color: #accfda;
  background-image: url(https://get.wallhere.com/photo/1920x1200-px-clouds-landscape-mountains-nature-1261395.jpg); 
  background-size: cover; 
  background-attachment: fixed; 
  background-position: top center; 
  color: #659DBD;

}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky; 
  position: -webkit-sticky;
  top: 0; 
  background: rgba(255, 255, 255, 0.8);
  z-index: 2; 
  padding: 10px 0; 
}

.logo {
  text-decoration: none;
  color: #659DBD;
  font-size: 30px;
  font-weight: bold;
  padding-top: 10px;
  padding-left: 10%;
}

.toggle-nav {
  background-color: #BC986A; 
  color: #FFF; 
  border: none; 
  cursor: pointer; 
  padding: 10px 15px; 
  border-radius: 5px; 
  margin-left: 20px;
}

.nav-links {
  text-align: right;
  background: #659DBD	; 
  padding: 10px 30px; 
  border-bottom-left-radius: 18px; 
}

.nav-links ul {
  list-style: none; 
  padding: 0; 
}

.nav-links ul li {
  display: inline-block; 
  padding: 10px 25px; 
}

.nav-links ul li a {
  color: #042131; 
  text-decoration: none; 
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  transition: color 0.3s ease, font-size 0.3s ease;
}
.nav-links ul li a:hover {
  color: #000; 
  font-size: 20px; 
  }

.left-sidebar {
  width: 20%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: #ff1616;
}

.row {
  padding: 0 10%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  margin-top: 5%;
}

.weather_city li::marker{
  font-size: 1.7rem;
    color: #bd155b;
  
}
.WeatherData h2{
margin-left: 40px;
font-weight: 600;
}

.weather_latlon li::marker{
  font-size: 1.7rem;
  color: #bd155b;
}
form {
  display: flex;
  align-items: center; 
  font-weight: bold;
  
}

input{
  margin-right: 10px; 
  border: linear-gradient(90deg, #fd7f34, #bd155b);
  padding: 10px; 
  font-size: 18px;
  height: 44px; 
  border: 1px solid #ccc; 
  border-radius: 5px; 
  box-sizing: border-box; 
  width: 340px;
}


.show {
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: #6b5770;
  background-image: linear-gradient(90deg, #fd7f34, #bd155b);
  display: inline-block;
  padding: 10px 30px; 
  border: 1px solid;
  position: relative;
  z-index: 0;
  border-radius: 5px;
  box-sizing: border-box; 
  height: 44px; 
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  appearance: none;
  touch-action: manipulation;  
  
}

.show:before {
  content: '';
  position: absolute;
  left: -2px;
  top: -2px;
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  background: linear-gradient(90deg, #fd7f34, #bd155b);
  z-index: -2;
  transition: .4s;
  border-radius: 5px;
}

.show:after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #fff, #fff);
  z-index: -1;
  transition: .4s;
  border-radius: 4px;
}

.show:hover {
  color: #fff;
  transition: .3s;
}

.show:hover:after {
  background: linear-gradient(90deg, #fd7f34, #bd155b);
}

.show:active:after {
  background: linear-gradient(90deg, #d96d2d, #760f3a);
}

.show:focus-visible {
  box-shadow: 0 0 0 3px #fd7f34;
}

.show:disabled {
  pointer-events: none;
}

.show:disabled:before {
  filter: grayscale(100%);
}
.load {
  font-weight: bold;
  color: #042131;
}

.home-container {
  position: relative; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
  text-align: center;
  min-height: 80vh; 
  padding: 50px; 
  background-image: url('/public/react.png'); 
  background-repeat: no-repeat;
  background-position: left 60vw top; 
  background-size: 75%; 
  z-index: 0; 
}

.home-container::before {
  display: none; 
}

.home-title, .home-description {
  position: relative; 
  z-index: 2; 
}
.home-title {
  font-size: 2.5em;
  color: #000; 
 
  margin-bottom: 20px;
}

.home-description {
  font-size: 1.9em;
  color: #000; 
  margin-bottom: 40px;
}
.homeul {
  padding: 0;
  margin: 0;
  text-align: left; 
  font-size: 1.3em;
  font-weight: 500;
  margin-bottom: 50px;
}
.homeul li::marker{
  font-size: 2em;
  color: #24afd5;
  
}
section {
  width: 100%; 
  margin-bottom: 20px; 
  padding: 10px; 
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 5px; 
  text-align: left; 
  margin-bottom: 10px;
}

.home-container section a {
  color: inherit;
  text-decoration: underline;
}

.home-container section a:hover {
  color: #000;
}
